*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html,body{
    height: 100%;
    width: 100%;
    background-color:black;
    
}
.all{
    height: 100%;
    width: 100%;
    display: flex;
    border: 1px solid black;
}
.right{
    height: 100%;
    width: 50%;   
    display: flex;
    
}

.form{
    height: 100%;
    width: 50%;
    margin-top: 15%;
    margin-left: 30%;
    

}
input{
    height: 40px;
    width: 80%;
    border-radius:dotted ;
    margin: 5px;
    margin-left: 25px;
    padding: 16px;
    background-color: black;
    border-color: rgba(255, 255, 255, 0.911);
    

}
.or{
    text-align: center;
    margin: 5px;
}

.login{
    height: 40px;
    width: 80%;
    margin-left: 25px;
    background-color: rgb(0, 136, 255);
    border-radius: 10px;
    margin: 25px;
    border: 0;
    color: white;
    font-weight: bold;
}

.loginfb{
    margin: 6px;
    
   
}
.loginfb a{
    padding: 16px;
    color: rgb(36, 148, 245); 
    text-align: center;
   

}

.loginfb img{
    height: 45px;
    width: 45px;
    margin-left: 46px;
}
.left{
    height: 100%;
    width: 50%;
   
}
.left img{
    margin-top: 10%;
    height: 80%;
    width: 80%;
    margin-left: 30%;
}
.forgot{
    text-align: center;
    margin: 25px;

}
.forgot a{
    text-decoration: none;
    color: white;
}
.otheraccount{
    text-align: center;
    color: white;
}
.otheraccount a{
    text-decoration: none;
    color:rgb(0, 136, 255);
}
.get{
    text-align: center;
    margin: 20px;
    color: white;
}
.getappimg img{
    height: 50px;
    width: 70%;
    margin-top: 5px;
    margin-left: 20%; 
}
.meta{
    color: white;
    margin-left: 10%;
    word-spacing: 10px;
    font: normal;
}
.lan{
    text-align: center;
    color: white;
    border-color: white;
}
.lang{
    text-align: center;
    background-color: black;
    color: white;
    border-color: black;
    font-weight: normal;
}



